@import "var";
@import "logo3d";
@import "marquee";
@import "float";
@import "form";
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    cursor: crosshair;
}

a:hover {
    cursor: pointer;
}


body{
    background-color: $bg;
    background-image: url(../media/plant.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    color: $txt;
    @include ebr;
    @include borderAni;
        a {
            @include ebr;
            @include borderAni;
            text-decoration: none;
            color: $txt;
            background: $bg;
            padding: .5rem;
            &:hover {
                transform: scale(1.1);
            }
        }
        ul {
         @include ebr;
        @include borderAni;
        }
}



#navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    @include flexCenter;
    margin: 1rem;
    height: 6vh;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    @include ebr;
    @include borderAni;
    a {
        text-decoration: none;
        color: $txt;
        margin: 2rem;
        &:hover {
            transform: scale(1.1);
        }      
    }
    div {
        z-index: 4;
    }
}



.hero_content {
    height: 100vh;
    width: 45vw;
    flex-direction: column;
    flex-wrap: wrap; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    .hero_card{
        padding: .5rem;
        background-color: $bg;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 6;
        *{
            z-index: 6;
            margin: .5rem 1rem 0.5rem 1rem;
            font-weight: bolder;
        }
        height: 60%;
        width: 50vw;
        position: relative;
        left: 35vw;
        top: 20vh;   
        @include ebr;
        @include borderAni;
       a {
        color: $blk;
        &:hover{
            color: $txt;
            @include ebr;
            @include borderAni;
        }
       }
       p {
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: space-evenly;
           @include ebr;
           @include borderAni;
       }
        li {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        list-style: none;
        color: $blk;
        @include ebr;
        @include borderAni;
        // border: $border;
        }
   
    }
}

#links {
    @include ebr;
    @include borderAni;
}

.contact-page {
    background: $bg;
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
        margin-top: 10vh;
        max-width: 30vw;
    }
    form {
        margin-top: 5vh;
        max-width: 40vw;
      
    }
}

#contact {
    height: 100vh;
    overflow: hidden;
}


.contact{
    padding-top: 1rem;
    background: $bg;
    position: relative;
    @include flexCenter;
    @include ebr;
    @include borderAni;
}

.about-projects {
    margin-top: 5rem;
    font-size: 8vh;
    color: $txt;
    border-radius: none;
    h3{
    padding-left: 5vw;
    width: 50vw;
    
    }
}

.project {
    background-color: $bg;
    padding: 1rem;
    .menu_item a {
        background: none;
    }
}

@media (max-width : 380px) {
    *{
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
      
    }

    body {
        flex-direction: column;
        overflow: scroll;
        background-image: url(../media/bwplant.jpg);
        background-size: cover;
        background-attachment: fixed;
        justify-content: space-between !important;
        height: 100%;
        width: 100vw;
       *{font-size: 16px !important;  margin: 0 !important;
        padding: 0 !important;}
        
    }

    .hero_content {
        width: 100vw !important;
        position: absolute;
        height: 60vh !important;
        margin-top: 20vh !important;
        left: -35vw;
        top: -120px;
    }

    .hero_card {
        display: flex;
        width: 100vw !important;
        height: 100% !important;
        align-items: center;
        justify-content: center !important;

        h2 {
            margin-bottom: 2vh !important;
        }
        li {
           margin-top: 5vh !important;
           margin-left: 2vh !important;
        }
        i {
            padding: 5px !important;
        }
        *{
            padding: 0 !important;
            margin: 0 !important;
        }
        &::after, &::before {
            height: 0 !important;
            width: 0 !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        #links {
            display: flex !important;
            justify-content: space-around !important;

        }
        .label {
            position: relative !important;
            top: 20px !important;
        }
        height: 100%;
        font-size: 16px;
        left: -100px;
    }

    #project {
        margin-top: 10vh !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100% !important;
        .about-projects h3{
            font-size: 25px !important;
            padding: 1rem !important;
            width: 100% !important;
            
        }
      *{
          display: flex !important;
          flex-wrap: wrap !important;
          align-items: center !important;
          justify-content: space-evenly !important;
          font-size: 20px !important;
        }
  
      .menu__item-img{
          width: 90vw !important;
          height: auto !important;
          opacity: 1 !important;
          left: 0 !important;
            justify-self: center !important;
	-webkit-transform: none !important;
	transform: none !important;
      }
    }

    .project-container {
        margin-top: 2vh !important;
    }

    #mylogo, .myicon {
        position: absolute !important;
        top: 7vh;
        left: 15vw;
        z-index: 7 !important;
    }

   #mylogo img {
       width: 40vw;
 
   }

    #navbar{
        z-index: 5;
        position: absolute;
        top: 0;
        *{
        animation: none;
        background: $bg;
        font-size: 20px;
        }
        a {
            display: flex;
            background: none;
            padding: 2rem !important;
            align-items: center !important;
            justify-content: center !important;
        }

    } 

    .hero_content {
        width: 90vw;
    }


    .contact-page {
        form {
            max-width: 95vw;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact {
       width: 95vw !important;
    }
    form {
        width: 95vw !important;
        input, textarea {
            width: 80vw !important;
        }
    }
}